DB_DSN="root:change-me@tcp(127.0.0.1:3306)/my_bbs?charset=utf8mb4&parseTime=True&loc=Local"
DB_AUTO_MIGRATE="true"
DB_MAX_OPEN_CONNS="25"
DB_MAX_IDLE_CONNS="10"
DB_CONN_MAX_LIFETIME="30m"
DB_CONN_MAX_IDLE_TIME="5m"
REDIS_ADDR="127.0.0.1:6379"
REDIS_PASS=""
APP_MODE="debug"
APP_PORT="8080"
LOG_DIR="logs"
JWT_SECRET="replace-with-a-long-random-secret"
ADMIN_USERNAMES="admin"
HTTP_READ_HEADER_TIMEOUT="5s"
HTTP_READ_TIMEOUT="10s"
HTTP_WRITE_TIMEOUT="15s"
HTTP_IDLE_TIMEOUT="60s"
HTTP_SHUTDOWN_TIMEOUT="10s"
HEALTH_CHECK_TIMEOUT="2s"
SEARCH_TIMEOUT="1s"
RATE_LIMIT_MAX_ENTRIES="20000"
RATE_LIMIT_IDLE_TTL="15m"
RATE_LIMIT_LOGIN_REQUESTS="10"
RATE_LIMIT_LOGIN_WINDOW="1m"
RATE_LIMIT_LOGIN_BURST="5"
RATE_LIMIT_REGISTER_REQUESTS="3"
RATE_LIMIT_REGISTER_WINDOW="1m"
RATE_LIMIT_REGISTER_BURST="2"
RATE_LIMIT_SEARCH_REQUESTS="60"
RATE_LIMIT_SEARCH_WINDOW="1m"
RATE_LIMIT_SEARCH_BURST="15"
RATE_LIMIT_WRITE_REQUESTS="30"
RATE_LIMIT_WRITE_WINDOW="1m"
RATE_LIMIT_WRITE_BURST="10"
RATE_LIMIT_READ_REQUESTS="600"
RATE_LIMIT_READ_WINDOW="1m"
RATE_LIMIT_READ_BURST="120"
